#exitButton{
    -fx-background-color: #fd6900;
    -fx-text-fill: #ffffff;
    -fx-cursor: "hand";
}
#exitButton:hover {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
    -fx-cursor: "hand";
}