#exitButton{
    -fx-background-color: #fd6900;
    -fx-text-fill: #ffffff;
    -fx-cursor: "hand";
}
#exitButton:hover {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
    -fx-cursor: "hand";
}

.dialog-pane {
    -fx-background-image: url('../images/backgrounds/winBackground.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
    -fx-border-color: #000065;
    -fx-border-width: 10px;
    -fx-pref-width: 1100px; /* Ancho preferido de la alerta */
    -fx-pref-height: 260px; /* Alto preferido de la alerta */

}

#GridGameBackground{
    -fx-background-image: url('../images/backgrounds/gameBackground.png');
    -fx-background-position: center center;
    -fx-background-size: cover;
}

