#exitButton{
    -fx-background-color: #fd6900;
    -fx-text-fill: #ffffff;
    -fx-cursor: "hand";
}
#exitButton:hover {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
    -fx-cursor: "hand";
}

.dialog-pane {
    -fx-background-image: url('');
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
    -fx-border-color: purple;
    -fx-border-width: 10px;
    -fx-pref-width: 1140px; /* Ancho preferido de la alerta */
    -fx-pref-height: 200px; /* Alto preferido de la alerta */

}