#exitButton{
    -fx-background-color: #fd6900;
    -fx-text-fill: #ffffff;
    -fx-cursor: "hand";
}
#exitButton:hover {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
    -fx-cursor: "hand";
}

#GridGameBackground{
    -fx-background-image: url('../images/backgrounds/gameBackground.png');
    -fx-background-position: center center;
    -fx-background-size: cover;
}